* {
  font-family: sans-serif;
}

.text {
  color: blue;
  font-size: 24px;
  text-align: center;
  text-shadow: 10px 10px black;
  display: flex;
  justify-content: center;
}

.pic {
  width: 50%;
  height: 35%;
  display: flex;
}
